
@{
    ViewData["Title"] = "QRCodeVerify";
}

<h1>QRCode Verification Completed</h1>

<div class="row">
    <div class="col-md-4">

            <div class="form-group">
                <img src="c:\c#projects\qrcodeapp\qrcodeapp\wwwroot\img\qrcodeverify.png" class="img-thumbnail" />
            </div>

    </div>
</div>