
@{
    ViewData["Title"] = "QRView";
}

<h4>Hi, @ViewBag.FirstName</h4>

<hr />
<div class="row">
    <div class="col-md-4">

            <div class="form-group">
                <img src="@ViewBag.QrCodeUri" class="img-thumbnail" />
            </div>

    </div>
</div>